<section class="hero-restaurant">
    <div class="container hr_container">
        <div class="hr__textbox">
            <h1 class="hero-title">mimiho</h1>
            <h2 class="hero-restaurant-title">Ресторан</h2>
            <h3 class="hero-taste">смак життя 24/7</h3>
        </div>
        <div class="hero-btn-restaurant">

            <a class="hero-address"
                href="https://www.google.com/maps/place/Marshala+Biryuzova+St,+15,+Kyiv,+02000/@50.4096292,30.4159701,17z/data=!3m1!4b1!4m6!3m5!1s0x40d4c95eca5b018d:0xfcdef341e703d9f2!8m2!3d50.4096292!4d30.4181588!16s%2Fg%2F1tfbrdd7"
                target="_blank" rel="noreferrer noopener">
                <svg class="address-icon">
                    <use href="/src/images/sprite.svg#icon-location"></use>
                </svg>Україна, м. Полтава,</br>вул. Маршала Бірюзова, 15</a>
            <div class="hr__btnbox">
                <button class="btn-disabled js-open-modal" type="button" data-modal="3">Забронювати столик</button>
                <button class="btn-disabled mobile js-open-modal" type="button" data-modal="2">Забронювати
                    номер</button>
                <a class="link btn-disabled second" href="#menu-restaurant">Переглянути меню</a>
            </div>
        </div>
        <div class=" hr_sociallinkbox">
            <ul class="hr_link__social list">
                <li class="hr_sociallink"><a class="link" href="http://instagram.com" target="_blank"
                        rel="nofollow noopener norefferer">
                        <svg class="hr_link__socialsvg">
                            <use href="./images/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a></li>

                <li class="hr_sociallink"><a class="link" href="http://facebook.com" target="_blank"
                        rel="nofollow noopener norefferer">
                        <svg class="hr_link__socialsvg">
                            <use href="./images/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a></li>

                <li class="hr_sociallink"><a class="link" href="https://web.telegram.org" target="_blank"
                        rel="nofollow noopener norefferer">
                        <svg class="hr_link__socialsvg">
                            <use href="./images/sprite.svg#icon-telegram"></use>
                        </svg>
                    </a></li>
            </ul>
        </div>
    </div>
</section>