<!-- Page - Меню ресторану -->
<section class="menu menu-section">
        <div class="menu-container container" id="menu-restaurant">
                <h2 class="menu-title">Меню ресторану</h2>
                <div class="menu-tables">
                        <table class="menu-table">
                                <caption class="title-table">Гарячі страви</caption>
                                <tr>
                                        <td class="name-menu">Борщ з телятини з квасолею
                                                <p class="composition">Телятина, картопля, капуста, морква, цибуля,
                                                        квасоля, часник, помідори, зелень, сметана</p>
                                        </td>
                                        <td class="weight">400&nbsp;г</td>
                                        <td class="price">240&nbsp;грн</td>
                                </tr>
                                <tr>
                                        <td class="name-menu">Суп сирний з куркою
                                                <p class="composition">Курятина, картопля, морква, цибуля, печериці, сир
                                                        м’який, зелень</p>
                                        </td>
                                        <td class="weight">400&nbsp;г</td>
                                        <td class="price">200&nbsp;грн</td>
                                </tr>
                                <tr>
                                        <td class="name-menu">Паста карбонара
                                                <p class="composition">Паста тальятеле, бекон, вершки, сир пармезан,
                                                        яйце, зелень</p>
                                        </td>
                                        <td class="weight">350&nbsp;г</td>
                                        <td class="price">430&nbsp;грн</td>
                                </tr>
                                <tr>
                                        <td class="name-menu">Стейк зі свинини
                                                <p class="composition">Свиняча вирізка, спеціі, подається з соусом
                                                        солодкий чилі та овочами</p>
                                        </td>
                                        <td class="weight">400&nbsp;г</td>
                                        <td class="price">500&nbsp;грн</td>
                                </tr>
                                <tr>
                                        <td class="name-menu">Горбуша в соусі з білого вина
                                                <p class="composition">Ніжна горбуша, вершковий соус на основі білого
                                                        вина</p>
                                        </td>
                                        <td class="weight">400&nbsp;г</td>
                                        <td class="price">400&nbsp;грн</td>
                                </tr>
                        </table>


                        <table class="menu-table">
                                <caption class="title-table">Гарніри та закуски</caption>
                                <tr>
                                        <td class="name-menu">Запечені овочі
                                                <p class="composition">Кабачок, перець, помідор, баклажан</p>
                                        </td>
                                        <td class="weight">200&nbsp;г</td>
                                        <td class="price">230&nbsp;грн</td>
                                </tr>
                                <tr>
                                        <td class="name-menu">Картопля фрі
                                                <p class="composition">Картопля, соус томатний</p>
                                        </td>
                                        <td class="weight">150&nbsp;г</td>
                                        <td class="price">160&nbsp;грн</td>
                                </tr>
                                <tr>
                                        <td class="name-menu">Картопля по-селянськи
                                                <p class="composition">Картопля, спеції, соус пікантний</p>
                                        </td>
                                        <td class="weight">150&nbsp;г</td>
                                        <td class="price">160&nbsp;грн</td>
                                </tr>
                                <tr>
                                        <td class="name-menu">Хрумкі соління з бочки
                                                <p class="composition">Огірок солений, помідор квашений, квашена
                                                        капуста, морква по-корейські</p>
                                        </td>
                                        <td class="weight">250&nbsp;г</td>
                                        <td class="price">350&nbsp;грн</td>
                                </tr>
                                <tr>
                                        <td class="name-menu">Крильця курячі в медовому соусі
                                                <p class="composition">Крильця курячі, гірчично-медовий соус, подається
                                                        з морквою, селерою і соусом блючиз</p>
                                        </td>
                                        <td class="weight">400&nbsp;г</td>
                                        <td class="price">420&nbsp;грн</td>
                                </tr>
                        </table>


                        <table class="menu-table">
                                <caption class="title-table">Салати</caption>
                                <tr>
                                        <td class="name-menu">Цезар з куркою
                                                <p class="composition">Куряче філе, листя салату, помідори чері, сир
                                                        пармезан, грінки, соус цезар</p>
                                        </td>
                                        <td class="weight">230&nbsp;г</td>
                                        <td class="price">450&nbsp;грн</td>
                                </tr>
                                <tr>
                                        <td class="name-menu">Цезар з креветками
                                                <p class="composition">Тигрові креветки, листя салату, помідори чері,
                                                        сир пармезан, грінки, соус цезар</p>
                                        </td>
                                        <td class="weight">230&nbsp;г</td>
                                        <td class="price">300&nbsp;грн</td>
                                </tr>
                                <tr>
                                        <td class="name-menu">Грецький салат
                                                <p class="composition">Свіжі огірок, помідор, болгарський перець,
                                                        оливки, сир бринза, листя салату, соус</p>
                                        </td>
                                        <td class="weight">230&nbsp;г</td>
                                        <td class="price">280&nbsp;грн</td>
                                </tr>
                                <tr>
                                        <td class="name-menu">М’ясний салат
                                                <p class="composition">Куряче філе або свиняча вирізка, свіжі огірок,
                                                        помідор, болгарський перець, соус ранч</p>
                                        </td>
                                        <td class="weight">230&nbsp;г</td>
                                        <td class="price">300&nbsp;грн</td>
                                </tr>
                        </table>



                        <table class="menu-table">
                                <caption class="title-table">Десерти</caption>
                                <tr>
                                        <td class="name-menu dessert-drink dessert">Торт наполеон</td>
                                        <td class="weight">230&nbsp;г</td>
                                        <td class="price">300&nbsp;грн</td>
                                </tr>
                                <tr>
                                        <td class="name-menu dessert-drink dessert">Торт маковий</td>
                                        <td class="weight">230&nbsp;г</td>
                                        <td class="price">300&nbsp;грн</td>
                                </tr>
                                <tr>
                                        <td class="name-menu dessert-drink dessert">Тірамісу</td>
                                        <td class="weight">120&nbsp;г</td>
                                        <td class="price">260&nbsp;грн</td>
                                </tr>
                        </table>


                        <table class="menu-table">
                                <caption class="title-table">Напої</caption>
                                <tr>
                                        <td class="name-menu dessert-drink">Чай чорний/зелений</td>
                                        <td class="weight">500&nbsp;мл</td>
                                        <td class="price">100&nbsp;грн</td>
                                </tr>
                                <tr>
                                        <td class="name-menu dessert-drink">Еспресо</td>
                                        <td class="weight">30&nbsp;мл</td>
                                        <td class="price">100&nbsp;грн</td>
                                </tr>
                                <tr>
                                        <td class="name-menu dessert-drink">Американо</td>
                                        <td class="weight">150&nbsp;мл</td>
                                        <td class="price">100&nbsp;грн</td>
                                </tr>
                                <tr>
                                        <td class="name-menu dessert-drink">Капучино</td>
                                        <td class="weight">200&nbsp;мл</td>
                                        <td class="price">160&nbsp;грн</td>
                                </tr>
                                <tr>
                                        <td class="name-menu dessert-drink">Лате</td>
                                        <td class="weight">200&nbsp;мл</td>
                                        <td class="price">160&nbsp;грн</td>
                                </tr>
                        </table>

                </div>



                <button type="button" class="menu-modal-btn btn-main js-open-modal" data-modal="3">Забронювати
                        столик</button>

        </div>
</section>