.relative-one {
  position: relative;
}

.hero-hotel-section {
  padding-top: 64px;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(..//..//..//images/hotel/header/hotel-desktop.jpg);
}

.hero-hotel-text-top {
  font-family: 'FilmP3';
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: #ffffff;
}

.hotel-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-hotel-hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-hotel-btn {
  list-style: none;
  display: flex;
  gap: 60px;
  justify-content: flex-end;
}

.adress-hotel {
  width: 285px;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 44px;
  cursor: pointer;
  align-items: center;
  display: flex;
  bottom: 20px;
}

.adress-hotel-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #e5e5e5;
}

.hero-gps {
  width: 24px;
  height: 24px;
  top: 15px;
  margin-left: -30px;
  display: flex;
  position: absolute;
  fill: #f3c653;
}

.social-hero {
  list-style: none;
  display: none;
}

.hero-social {
  width: 24px;
  height: 24px;
  fill: #f3c653;
  display: none;
}

/*HERO-HOTEL-Mobile*/

@media screen and (min-device-pixel-ratio: 2),
  screen and(min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero-hotel-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(..//..//..//images/hotel/header/hotel-mobile@2x.jpg);
  }
}

@media screen and (max-width: 1023px) {
  .hero-hotel-section {
    padding-top: 64px;
    // padding-bottom: 64px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(..//..//..//images/hotel/header/hotel-mobile@2x.jpg);
  }
}

@media screen and (max-width: 1023px) {
  .hero-hotel-text-top {
    font-size: 96px;
    justify-content: center;
    display: flex;
    margin-top: 70px;
    margin-left: calc(96 * 0.3);
  }
}

@media screen and (max-width: 1023px) {
  .hotel-text {
    margin-bottom: 178px;
  }
}

@media screen and (max-width: 1023px) {
  .btn-hotel-hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1023px) {
  .hero-hotel-btn {
    list-style: none;
    display: grid;
    grid-gap: 24px;
    justify-content: center;
    margin-bottom: 58px;
  }
}

@media screen and (max-width: 1023px) {
  .btn-disabled {
    width: 232px;
    height: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .adress-hotel {
    width: 210px;
    margin-left: auto;
    padding-top: 8px;
    padding-right: 3px;
    padding-bottom: 9px;
    padding-left: 34px;
    align-items: center;
    display: flex;
  }
}

@media screen and (max-width: 1023px) {
  .adress-hotel-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: #e5e5e5;
  }
}

@media screen and (max-width: 1023px) {
  .hero-gps {
    width: 20px;
    height: 20px;
    margin-left: -30px;
  }
}

@media screen and (max-width: 1023px) {
  .social-hero {
    list-style: none;
    display: flex;
    gap: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .hero-social {
    width: 24px;
    height: 24px;
    fill: #f3c653;
    display: flex;
  }
}

/*HERO-HOTEL-TABLET*/

@media screen and (min-device-pixel-ratio: 2),
  screen and(min-resolution: 192dpi) and (min-width: 1024px),
  screen and (min-resolution: 2dppx) and (min-width: 1024px) {
  .hero-hotel-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(..//..//..//images/hotel/header/hotel-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .hero-hotel-section {
    padding-top: 188px;
    padding-bottom: 65px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(..//..//..//images/hotel/header/hotel-tablet.jpg);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}

@media screen and (min-width: 1024px){
  .hero-hotel-text-top {
    font-size: 128px;
    justify-content: center;
    display: flex;
    margin-top: 0px;
    margin-left: calc(128 * 0.3);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .hotel-text {
    margin-bottom: 226px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .btn-hotel-hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .hero-hotel-btn {
    list-style: none;
    grid-gap: 40px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .btn-disabled {
    width: 236px;
    height: 48px;
  }
}
@media screen and (min-width: 1024px){
  .adress-hotel {
    align-items: center;
    display: flex;
    bottom: 0px;
    position: absolute;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .adress-hotel-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: #e5e5e5;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .hero-gps {
    width: 24px;
    height: 24px;
    margin-left: -35px;
  }
}

@media screen and (min-width: 1024px){
  .social-hero {
    list-style: none;
    display: flex;
    gap: 20px;
    bottom: -50px;
    position: absolute;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .hero-social {
    width: 24px;
    height: 24px;
    fill: #f3c653;
    display: flex;
  }
}

/*HERO-HOTEL-Desktop*/

@media screen and (min-device-pixel-ratio: 2),
  screen and(min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .hero-hotel-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(..//..//..//images/hotel/header/hotel-dekstop@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero-hotel-section {
    padding-top: 164px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(..//..//..//images/hotel/header/hotel-desktop.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}
@media screen and (min-width: 1280px) {
  .hotel-text {
    margin-bottom: 249px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-gps {
    margin-left: -35px;
  }
}
@media screen and (min-width: 1280px) {
  .adress-hotel {
    position: absolute;
    bottom: 0px;
  }
}