.room-luxe {
    background: getColor('light-lemon');
    padding-top: 32px;
    padding-bottom: 32px;

    @media screen and (min-width: 1024px) {
        padding-top: 62px;
        padding-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 72px;
    }
}

.room-luxe-cont {
    position: relative;
}

.text-room {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: getColor('gray1');
    margin-bottom: 8px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 4px;
        font-size: 32px;
    }
}

.room-luxe-logo {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'FilmP3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    color: getColor('gray2');
    margin-bottom: 32px;

    @media screen and (min-width: 1024px) {
        font-size: 64px;
        margin-bottom: 62px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 72px;
    }
}

.title-room-lux {
    text-transform: uppercase;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: getColor('black');
    margin-bottom: 12px;

    @media screen and (min-width: 1024px) {
        font-size: 30px;
        margin-bottom: 16px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 36px;
        line-height: 1.13;
        margin-bottom: 24px;
    }
}

.title-room {
    text-transform: lowercase;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: getColor('black');

    @media screen and (min-width: 1024px) {
        font-size: 30px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 36px;
        line-height: 1.13;
    }
}

.link-room {
    display: block;
    width: 258px;
    margin-bottom: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: getColor('gray-room');

    @media screen and (min-width: 1024px) {
        font-size: 16px;
        line-height: 1.25;
        width: 439px;
        margin-bottom: 176px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 188px;
    }
}

.room-img {
    margin-left: auto;
}

.room-images {
    @media screen and (min-width: 1024px) {
        position: absolute;
        top: -95px;
        left: 50%;
        margin-left: 0;
        width: 400px;
        box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    }

    @media screen and (min-width: 1280px) {
        top: -105px;
        width: 460px;
        border-radius: 2px;
    }
}

.box-room {
    flex-direction: column;

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
    }
}

.list-room-photo {
    display: flex;
    list-style: none;
    margin-bottom: 20px;
    margin-top: 32px;
    position: relative;
    left: -15px;

    @media screen and (min-width: 1024px) {
        margin-top: 0;
        left: 0;
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 40px;
    }
}

.item-room {
    width: 194px;
    margin-left: 15px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 1024px) {
        margin-left: 40px;
    }

    @media screen and (min-width: 1280px) {
        width: 254px;
    }
}

.item-room:first-child {
    margin-left: 0;
    width: 74px;
    overflow: hidden;

    @media screen and (min-width: 1024px) {
        width: 194px;
        overflow: visible;
    }

    @media screen and (min-width: 1280px) {
        width: 254px;
    }
}

.item-room-slider-first {
    display: block;
    left: -120px;
    position: relative;
    width: 194px;

    @media screen and (min-width: 1024px) {
        left: 0;
    }

    @media screen and (min-width: 1280px) {
        width: 254px;
    }
}

.icon-room-list {
    display: flex;
    margin-bottom: 20px;
    column-gap: 32px;
    line-height: 0;

    @media screen and (min-width: 1024px) {
        order: 3;
        width: 428px;
        justify-content: flex-end;
        margin-bottom: 0;
    }

    @media screen and (min-width: 1280px) {
        width: 548px;
    }
}


.btn-list-room {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    
    @media screen and (min-width: 1024px) {
        padding-bottom: 32px;
        margin-right: 0;
        flex-direction: column;
    }
    
    @media screen and (min-width: 1280px) {
        padding-bottom: 40px;
    }
}

.btn-room {
    text-decoration: none;
    padding: 14px 64px;
    
    @media screen and (min-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.btn-room-lux {
    margin-top: 16px;
    cursor: pointer;
}

.icon-room-left,
.icon-room-right {
    color: var(--black);
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
}

.icon-room-left:hover,
.icon-room-left:focus {
    color: getColor('yellow');
}

.icon-room-right:hover,
.icon-room-right:focus {
    color: getColor('yellow');
}