:root {
    --general-gray-text: #757575;
    --white: #FFFFFF;
    --fon-lemon: #FFFDEE;
    --black: #000000;
    --akzent-yellow: #F3C653;
    --dark-lemon: #F0ECD6;
    --brown: #C79002;
    --map-link: #E5E5E5;
    --bcg-img: #DADADA;
    --gray1: #B4B4B4;
    --gray2: #494848;
    --gray3: #5F5F5F;
    --gray5: #BABABA;
    --gray4: #828282;
    --gray-room: #7A7A7A;
    --color-footer: #0E0C07;
    --footer-black: #0E0C07;
    --input-string: #808080;
    --background-page: #474747;
    --border-golden: rgba(243, 198, 83, 0.7);
    --color-life24: #FDFBEC;
    --cubic: 0.4, 0, 0.2, 1;

}