/* ДОДАНІ СТИЛІ */
.swiper-hero {
    min-width: 418px;
    height: 740px;

    @media screen and (min-width:1024px) {
        min-width: 720px;
    }
}

.swiper-foto1 {


    margin-left: auto;
    margin-right: auto;
    min-width: fit-content;
    display: block;
    background-image: url(../images/room/room3mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/room/room3mobile@2x.jpg);
    }



    @media screen and (min-width:1024px) {
        background-image: url(../images/room/room3tablet.jpg);
    }

    @media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/room/room3tablet@2x.jpg);
    }

    @media screen and (min-width:1280px) {
        background-image: url(../images/room/room3desk.jpg);
    }

    @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/room/room3desk@2x.jpg);
    }
}

.swiper-foto2 {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: fit-content;

    background-image: url(../images/room/room1mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-width:1024px) {
        background-image: url(../images/room/room1tablet.jpg);
    }

    @media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/room/room1tablet@2x.jpg);
    }

    @media screen and (min-width:1280px) {
        background-image: url(../images/room/room1desk.jpg);
    }

    @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/room/room1desk@2x.jpg);
    }
}

.swiper-foto3 {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: fit-content;

    background-image: url(../images/room/room9mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-width:1024px) {
        background-image: url(../images/room/room9tablet.jpg);
    }

    @media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/room/room9tablet@2x.jpg);
    }

    @media screen and (min-width:1280px) {
        background-image: url(../images/room/room9desk.jpg);
    }

    @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/room/room9desk@2x.jpg);
    }
}

.room-hero {
    position: relative;

    margin-left: auto;
    margin-right: auto;
    padding-top: 350px;
    padding-bottom: 14px;

    background-image: url(../images/room/room3mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/room/room3mobile@2x.jpg);
    }

    @media screen and (min-width: 1024px) {
        padding-top: 340px;
        padding-bottom: 36px;

        background-image: url(../images/room/room3tablet.jpg);
    }

    @media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/room/room3tablet@2x.jpg);
    }

    @media screen and (min-width: 1280px) {
        padding-top: 412px;
        padding-bottom: 48px;

        background-image: url(../images/room/room3desk.jpg);
    }

    @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/room/room3desk@2x.jpg);
    }

}

.room-hero-shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    min-width: 414px;
    height: 143px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 54.17%, rgba(0, 0, 0, 0) 100%);

    @media screen and (min-width: 1024px) {
        height: 116px;
    }

    @media screen and (min-width: 1280px) {
        height: 147px;
    }
}

.room-hero-position {
    position: absolute;
    z-index: 50;
    bottom: 14px;

    @media screen and (min-width: 1024px) {
        bottom: 22px;
    }

    @media screen and (min-width: 1280px) {
        bottom: 48px;
    }
}

.room-hero-btn {
    @media screen and (min-width:1024px) {
        position: absolute;
        right: -450px;
        bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
        bottom: 18px;
        right: -620px;
    }
}

.room-hero-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 93px;
    line-height: 0;

    @media screen and (min-width: 1024px) {
        margin-bottom: 88px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 72px;
    }
}

.hero-controls-arrows {
    display: contents;
}

.container-relative-swiper {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    min-width: 414px;

}

.box-swiper-button {
    width: 414px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: -50%;

    @media screen and (min-width:1024px) {
        width: 930px;
    }

    @media screen and (min-width:1280px) {
        width: 1110px;
    }
}

.room-slider-btn {
    width: 40px;
    height: 40px;
    padding-left: 1px;
    padding-right: 1px;

    border: none;
    background: #000000a6;
    color: var(--akzent-yellow);

    cursor: pointer;
}

.room-slider-btn:hover,
.room-slider-btn:focus {
    color: var(--white);
}

.room-slider-btn svg {
    fill: currentColor;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 15px;
    right: auto;
}

.room-loc-link {
    position: absolute;
    top: -410px;
    right: -60px;

    display: flex;
    text-decoration: none;
    align-items: center;
    width: 210px;

    padding: 8px 6px;

    border: 1px solid #f3c653b3;
    border-radius: 2px;

    @media screen and (min-width: 1024px) {
        position: static;
        width: 285px;
        padding: 8px 8px 8px 10px;
        margin-right: 40px;
    }

    @media screen and (min-width: 1280px) {
        display: none;
    }
}

.room-logo-location {
    fill: var(--akzent-yellow);

    @media screen and (min-width: 1024px) {
        width: 24px;
        height: 24px;
    }
}

.room-loc-descr {
    width: 179px;
    margin-left: 8px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #E5E5E5;

    @media screen and (min-width: 1024px) {
        width: 233px;
        margin-left: 10px;

        font-size: 16px;
    }
}

.room-hero-title {
    max-width: 325px;
    margin-bottom: 14px;

    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14;

    color: var(--white);

    @media screen and (min-width: 1024px) {
        max-width: 507px;
        margin-bottom: 24px;

        font-size: 36px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 36px;
    }
}

.room-hero-title>span {
    text-transform: uppercase;
}

.room-hero-descr {
    max-width: 325px;
    margin-bottom: 17px;

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;

    color: var(--white);

    @media screen and (min-width: 1024px) {
        max-width: 400px;
        margin-bottom: 24px;

        font-size: 16px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 0;
    }
}



.room-icon-list {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1024px) {
        flex-direction: row;
    }

    @media screen and (min-width: 1280px) {
        display: none;
    }
}

.room-icon-list>li {
    display: flex;
}

.room-icon-list>li:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 0;
        margin-right: 20px;
    }
}

.room-icon-link {
    display: flex;
    text-decoration: none;
    fill: var(--akzent-yellow);
    opacity: 0.6;
}

.room-icon-link:hover,
.room-icon-link:focus {
    opacity: 1;
}

.hr-link-box {
    display: flex;
    align-items: center;
    justify-content: space-between;




    @media screen and (min-width: 1024px) {}

    @media screen and (min-width: 1280px) {}
}