<!-- Hero
“ДВОМІСНИЙ НОМЕР люкс” - заголовок сторінки.
У секції представлений слайдер з контентними зображеннями*.
Кнопка “Переглянути ціни” має відкривати модальне вікно Room Price Modal window. -->
<section class="sec-tion">

    <!-- ФОНОВА ТІНЬ -->

    <div class="container-relative-swiper">
        <div class="room-hero-shadow"></div>
        <div class="swiper-hero">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide swiper-foto1">
                </div>
                <div class="swiper-slide swiper-foto2">
                </div>
                <div class="swiper-slide swiper-foto3">
                </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="box-swiper-button">
                <div class="swiper-button-prev">
                    <svg class="icon-hero-swiper">
                        <use href="./images/sprite.svg#icon-arrow-left"></use>
                    </svg>
                </div>
                <div class="swiper-button-next"><svg class="icon-hero-swiper">
                        <use href="./images/sprite.svg#icon-arrow-right"></use>
                    </svg></div>
            </div>
        </div>
        <div class="container">
            <div class="room-hero-position">
                <!-- ЗАГОЛОВОК З ОПИСОМ -->
                <div class="hr-text-box">
                    <h1 class="room-hero-title"> <span>двомісний номер</span> люкс</h1>
                    <p class="room-hero-descr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                        Velit
                        officia consequat duis enim velit
                        mollit. Exercitation veniam consequat sunt nostrud amet.
                    </p>
                </div>

                <!-- СПИСОК З ІКОНКАМИ СОЦІАОТНИХ МЕРЕЖ -->
                <div class="hr-link-box">
                    <a href="https://goo.gl/maps/4saVJJSnYpd2zkgm9" class="room-loc-link">
                        <svg class="room-logo-location" width="20px" height="20px">
                            <use href="./images/sprite.svg#icon-location"></use>
                        </svg>
                        <span class="room-loc-descr">Україна, м. Полтава,<br>вул. Маршала Бірюзова, 15</span>
                    </a>
                    <ul class="list room-icon-list">
                        <li>
                            <a href="https://www.instagram.com/" class="every-arrow room-icon-link">
                                <svg width="24px" height="24px">
                                    <use href="./images/sprite.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://facebook.com/" class="every-arrow room-icon-link">
                                <svg width="24px" height="24px">
                                    <use href="./images/sprite.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://web.telegram.org/z/" class="every-arrow room-icon-link">
                                <svg width="24px" height="24px">
                                    <use href="./images/sprite.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>

                    <button type="button" class="btn-disabled room-hero-btn js-open-modal"
                        data-modal="1">Переглянутиціни</button>
                </div>

                <!-- КНОПКА -->

            </div>

        </div>
    </div>
</section>