<!-- Amenities -->
<section class="sec-tion amenities">
    <div class="container">
        <h2 class="amenities__title">зручності у номері</h2>
        <p class="amenities__text-subtitle-text">Amet minim mollit non deserunt ullamco est sit aliqua
            dolor do amet
            sint. Velit officia <br> consequat duis enim velit mollit. Exercitation veniam consequat
            sunt
            nostrud amet.
        </p>
        <ul class="amenities__list">
            <li class="amenities__item">
                <h3 class="amenities__subtitle">загальні</h3>
                <div class="amenities__box-text">
                    <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                        amet
                        sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt
                        nostrud amet.
                    </p>
                    <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                        amet
                        sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt
                        nostrud amet.
                    </p>
                </div>
            </li>
            <li class="amenities__item">
                <h3 class="amenities__subtitle">ванна кімната</h3>
                <div class="amenities__box-text">
                    <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                        amet
                        sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt
                        nostrud amet.
                    </p>
                    <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                        amet
                        sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt
                        nostrud amet.
                    </p>
                </div>
            </li>
            <li class="amenities__item">
                <h3 class="amenities__subtitle">спальня</h3>
                <p class="amenities__text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                </p>
            </li>
            <li class="amenities__item">
                <h3 class="amenities__subtitle">кухня</h3>
                <div class="amenities__box-text">
                    <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                        amet
                        sint.
                    </p>
                    <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                        amet
                        sint.
                    </p>
                </div>
            </li>
            <li class="amenities__item">
                <h3 class="amenities__subtitle">медіа</h3>
                <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                    sint. Velit officia consequat duis enim velit mollit.
                </p>
            </li>
        </ul>
        <div class="amenities-box">
            <button type="button" class="btn-book amenities__button js-open-modal" data-modal="2">оформити
                бронювання</button>
            <a class="every-arrow amenities__return" href="./hotel.html">Повернутися до перегляду номерів
                <svg class="icon amenities__icon">
                    <use href="./images/sprite.svg#icon-arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
</section>