<div class="container-backdrop">
    <!----------------------------->
    <div class="modal price-room-mobile" data-modal="1">
        <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
                d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" />
        </svg>
        <form name="price room" class="room-price-form model-box">
            <strong class="room-price-title">ЦІНИ НА НОМЕР</strong>
            <strong class="category-room">Двомісний люкс</strong>
            <span class="form-text">Категорія номеру</span>
            <div class="flex-box">
                <label class="price-lable-first">
                    <select class="price-room-input" name="night">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                    <svg class="model-icon-chek" width="20" height="12">
                        <use href="./images/sprite.svg#icon-Vector-1"></use>
                    </svg>
                    <span class="form-text-lable">Кількість ночей</span>
                </label>
                <label class="price-lable-second">
                    <input class="price-room-input" type="text" name="price" pattern="^[ 0-9]+$" placeholder="1000">
                    <span class="form-text-lable">грн</span>
                </label>
            </div>
            <button type="submit" class="price-btn">ЗАБРОНЮВАТИ НОМЕР</button>
        </form>
    </div>

    <!-- -------------------------------------->

    <div class="modal booking-room-mobile" data-modal="2">
        <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
                d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" />
        </svg>
        <form name="booking-room" class="booking-form model-box">
            <strong class="booking-room-title">ЗАБРОНЮВАТИ НОМЕР</strong>
            <div class="flex-box-wrap">
                <label class="booking-lable">
                    <input class="booking-room-input" type="text" minlength="2" name="name" placeholder="Ваше ім’я">
                    <span class="booking-text-lable">На кого забронювати номер?</span>
                </label>
                <label class="booking-lable">
                    <input class="booking-room-input" type="tel" name="phone" pattern="[0-9]{12}"
                        placeholder="+38 (___) ___-__-__">
                    <span class="booking-text-lable">Номер телефону</span>
                </label>
                <div class="box"></div>
                <label class="booking-lable">
                    <svg class="model-icon" width="20" height="12">
                        <use href="./images/sprite.svg#icon-Vector-1"></use>
                    </svg>
                    <select class="booking-room-input">
                        <option value="1" selected>Двомісний люкс</option>
                        <option value="2">Двомісний</option>
                        <option value="3">Трьохмісний</option>
                    </select>
                    <span class="booking-text-lable">Категорія номеру</span>
                </label>
                <label class="booking-lable">
                    <svg class="model-icon" width="20" height="12">
                        <use href="./images/sprite.svg#icon-Vector-1"></use>
                    </svg>
                    <input class="booking-room-input" type="text" name="chek-in" pattern="^[ 0-9]+$"
                        placeholder="Сьогодні">
                    <span class="booking-text-lable">Дата заїзду</span>
                </label>
                <label class="booking-lable last">
                    <svg class="model-icon" width="20" height="12">
                        <use href="./images/sprite.svg#icon-Vector-1"></use>
                    </svg>
                    <input class="booking-room-input" type="text" name="chek-out" pattern="^[ 0-9]+$"
                        placeholder="Сьогодні">
                    <span class="booking-text-lable">Дата виїзду</span>
                </label>
            </div>
            <button type="submit" class="booking-btn">ОФОРМИТИ БРОНЮВАННЯ</button>
        </form>
    </div>

    <!-- --------------------------------->

    <div class="modal booking-table-mobile" data-modal="3">
        <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
                d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" />
        </svg>
        <form name="booking-restaurant" class="booking-table-form model-box">
            <strong class="booking-table-title">ЗАБРОНЮВАТИ СТОЛИК</strong>
            <div class="flex-box-wrap">
                <div class="box">
                    <label class="booking-table-lable">
                        <input class="booking-table-input" type="text" minlength="2" name="booking-name"
                            placeholder="Ваше ім’я">
                        <span class="booking-table-text">На кого забронювати столик?</span>
                    </label>
                    <label class="booking-table-lable">
                        <input class="booking-table-input" type="tel" pattern="[0-9]{12}" name="booking-phone"
                            placeholder="+38 (___) ___-__-__">
                        <span class="booking-table-text">Номер телефону</span>
                    </label>
                </div>
                <div class="box">
                    <label class="booking-table-lable">
                        <svg class="model-icon-svg" width="20" height="12">
                            <use href="./images/sprite.svg#icon-Vector-1"></use>
                        </svg>
                        <select class="booking-table-input" name="night">
                            <option value="1">1</option>
                            <option value="2" selected>2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="5">8</option>
                            <option value="6">9</option>
                            <option value="7">10</option>
                        </select>
                        <span class="booking-table-text">Столик на яку кількість осіб?</span>
                    </label>
                    <label class="booking-table-lable last">
                        <svg class="model-icon-svg" width="20" height="12">
                            <use href="./images/sprite.svg#icon-Vector-1"></use>
                        </svg>
                        <input class="booking-table-input" type="text" pattern="^[ 0-9]+$" name="booking-date"
                            placeholder="Сьогодні">
                        <span class="booking-table-text">На яку дату бронювати?</span>
                    </label>
                </div>
            </div>
            <button type="submit" class="booking-table-btn">ОФОРМИТИ БРОНЮВАННЯ</button>
        </form>
    </div>
</div>

<div class="overlay js-overlay-modal">
</div>