<section class="hero-hotel-section">
  <div class="container relative-one">
    <a class="adress-hotel" href="https://goo.gl/maps/nX7UBPQuyPMZPzK57" target="_blank"
      rel="nofollow noopener norefferer">
      <svg class="hero-gps">
        <use href="./images/sprite.svg#icon-location"></use>
      </svg>
      <p class="link adress-hotel-text">
        Україна, м. Полтава, <br />
        вул. Маршала Бірюзова, 15
      </p>
    </a>
    <h1 class="hero-hotel-text-top">mimiho</h1>
    <p class="hotel-text">Готель</p>
    <ul class="hero-hotel-btn">
      <li class="btn-hotel-hero">
        <button type="button" class="btn-disabled btn-big js-open-modal" data-modal="2">Забронювати номер</button>
      </li>
      <li class="btn-hotel-hero">
        <button type="button" class="btn-disabled js-open-modal" data-modal="1">Переглянути ціни</button>
      </li>
    </ul>
    <ul class="social-hero">
      <li class="social-list-hero">
        <a href="https://www.instagram.com/" target="_blank" rel="nofollow noopener norefferer">
          <svg class="hero-social">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-list-hero">
        <a href="https://www.facebook.com/" target="_blank" rel="nofollow noopener norefferer">
          <svg class="hero-social">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-list-hero">
        <a href="https://web.telegram.org/k/" target="_blank" rel="nofollow noopener norefferer">
          <svg class="hero-social">
            <use href="./images/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>