<!-- Секція трьохмісний номер -->
<section class="section-room3">
    <div class="room3 container">
        <p class="text-up">Amet minim mollit non</p>
        <p class="logo-in-room3">mimiho</p>
        <h2 class="item-in-room3">трьохмісний номер</h2>
        <p class="about-item-in-room3">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
            velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
        <!-- Велике фото секції-->
        <div>
            <picture>
                <source srcset="
                ./images/main/hero-hotel/main/main-dekstop.jpg 1x,
                ./images/main/hero-hotel/main/main-desktop@2x.jpg 2x" media="(min-width:1280px)">
                <source srcset="
                ./images/main/hero-hotel/main/main-tablet.jpg 1x,
                ./images/main/hero-hotel/main/main-tablet@2x.jpg 2x" media="(min-width:1024px)">
                <source srcset="
                ./images/main/hero-hotel/main/main-mobile.jpg 1x,
                ./images/main/hero-hotel/main/main-mobile@2x.jpg 2x" media="(max-width:1024px)">
                <img class="photo-main-room3 shadow-big" src="./images/main/hero-hotel/main/main-mobile.jpg"
                    loading="lazy" alt="Photo room-3x hotel">
            </picture>
        </div>
        <div class="block-tablet">
            <!-- Блок фото малі слайдер -->
            <div class="swiper-container-hotel">
                <div class="swiper-hotel eshadow-little">

                    <div class="swiper-wrapper  swiper-wrapper-hotel">

                        <div class="swiper-slide swiper-slide-hotel">
                            <picture>
                                <source
                                    srcset="./images/slider/slider-mobile/unsplash_umAXneH4GhA.jpg 1x, ./images/slider/slider-mobile/unsplash_umAXneH4GhA@2x.jpg 2x"
                                    media="(max-width: 1023px)">

                                <img src="./images/slider/slider-mobile/unsplash_umAXneH4GhA.jpg" loading="lazy"
                                    alt="Dough" class="img-slider-hotel shadow-little" />
                            </picture>
                        </div>
                        <div class="swiper-slide swiper-slide-hotel">
                            <picture>
                                <source
                                    srcset="./images/slider/slider-mobile/unsplash_JIUjvqe2ZHg.jpg 1x, ./images/slider/slider-mobile/unsplash_JIUjvqe2ZHg@2x.jpg 2x"
                                    media="(max-width: 1023px)">

                                <img src="./images/slider/slider-mobile/unsplash_JIUjvqe2ZHg.jpg" loading="lazy"
                                    alt="Dough" class="img-slider-hotel shadow-little" />
                            </picture>
                        </div>
                        <div class="swiper-slide swiper-slide-hotel">
                            <picture>
                                <source
                                    srcset="./images/slider/slider-mobile/unsplash_UypLIU-gkK8.jpg 1x, ./images/slider/slider-mobile/unsplash_UypLIU-gkK8@2x.jpg 2x"
                                    media="(max-width: 1023px)">

                                <img src="./images/slider/slider-mobile/unsplash_UypLIU-gkK8.jpg" loading="lazy"
                                    alt="Dough" class="img-slider-hotel shadow-little" />
                            </picture>
                        </div>
                        <div class="swiper-slide swiper-slide-hotel">
                            <picture>
                                <source
                                    srcset="./images/slider/slider-mobile/unsplash_HT7mTAjNxR0.jpg 1x, ./images/slider/slider-mobile/unsplash_HT7mTAjNxR0@2x.jpg 2x"
                                    media="(max-width: 1023px)">

                                <img src="./images/slider/slider-mobile/unsplash_HT7mTAjNxR0.jpg" loading="lazy"
                                    alt="Dough" class="img-slider-hotel shadow-little" />
                            </picture>
                        </div>
                        <div class="swiper-slide swiper-slide-hotel">
                            <picture>
                                <source
                                    srcset="./images/slider/slider-mobile/unsplash_dQyS2pMYtok.jpg 1x, ./images/slider/slider-mobile/unsplash_dQyS2pMYtok@2x.jpg 2x"
                                    media="(max-width: 1023px)">

                                <img src="./images/slider/slider-mobile/unsplash_dQyS2pMYtok.jpg" loading="lazy"
                                    alt="Dough" class="img-slider-hotel shadow-little" />
                            </picture>
                        </div>
                    </div>

                    <!-- Buttons slider -->
                </div>
                <div class="hotel-swiper-btn-box">
                    <div class="every-arrow-next-hotel">
                        <button class=" btn-svg-l-r" type="button">
                            <svg class="svg-arrows-room3 icon" width="32px" height="32px">
                                <use href="./images/sprite.svg#icon-arrow-left"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="every-arrow-prev-hotel">
                        <button class="btn-svg-l-r" type="button">
                            <svg class="svg-arrows-room3 icon" width="32px" height="32px">
                                <use href="./images/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <!--Список кнопок -->
            <div class="block-btns-menu">
                <ul class="btns-menu-list">
                    <li>
                        <a class="btn-more-details btn-main btn-big" href="./room.html">Детальніше</a>
                    </li>
                    <li>
                        <button type="button" class="btn-main js-open-modal" data-modal="1">Переглянути ціни</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>