<!-- Hero -->

<section class="hero-main">
    <div class="container hmc_position">
        <div class="hm__textbox">
            <h1 class="hero__phrase"> mimiho</h1>
            <h2 class="hero__about">Ресторанно-готельний комплекс</h2>
            <p class="hero__text">смак життя 24/7</p>
        </div>

        <div class="hero_bottom">

            <address><a href="https://goo.gl/maps/GWKGg2BgH6eGkUKo9" class="location-address" target="_blank"
                    rel="nofollow noopener norefferer"><svg class="link__socialsvg">
                        <use href="./images/sprite.svg#icon-location">
                        </use>
                    </svg>
                    Україна, м. Полтава,<br> вул. Маршала Бірюзова, 15</a></address>

            <ul class="div-hero-btn">
                <li><button type="button" class="btn-disabled js-open-modal" data-modal="3">Забронювати столик</button>
                </li>
                <li><button type="button" class="btn-disabled js-open-modal" data-modal="2">Забронювати номер</button>
                </li>
            </ul>
        </div>
        <div class="desktop-none">
            <ul class="link__social">
                <li class="hm_sociallink"><a class="link " href="http://instagram.com" target="_blank"
                        rel="nofollow noopener norefferer">
                        <svg class="link__socialsvg">
                            <use href="./images/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a></li>

                <li class="hm_sociallink"><a class="link" href="http://facebook.com" target="_blank"
                        rel="nofollow noopener norefferer">
                        <svg class="link__socialsvg ">
                            <use href="./images/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a></li>

                <li class="hm_sociallink"><a class="link" href="https://web.telegram.org" target="_blank"
                        rel="nofollow noopener norefferer">
                        <svg class="link__socialsvg">
                            <use href="./images/sprite.svg#icon-telegram"></use>
                        </svg>
                    </a></li>
            </ul>
        </div>
    </div>
</section>