<!-- Details of our restaurant
“Ресторан” - заголовок секції.
У секції представлений слайдер з контентними зображеннями готових блюд ресторану*.
Кнопка “Забронювати столик” має відкривати модальне вікно Book Table Modal window.
Кнопка “Переглянути меню” має бути реалізована як посилання, яке веде користувача на сторінку Restaurant Page. -->
<section class="section-restaurant-details">
    <div class="container rest-detail-container">
        <div class="blok-aside">
            <h1 class="restaurant-details">mimiho</h1>
            <h2 class="restaurant-details-title">Ресторан</h2>
            <p class="restaurant-details-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit officia consequat duis enim velit mollit.</p>
        </div>
        <div class="restaurant-box">
            <ul class="restaurant-details-list list-rest-item">
                <li class="restaurant-details-item">
                    <picture>
                        <source srcset="./images/slider/main-hero-slider/slider1rest.jpg 1x,
                            ./images/slider/main-hero-slider/slider1rest@2x.jpg 2x">
                        <img class="restaurant-img" src="./images/slider/main-hero-slider/slider2rest.jpg"
                            loading="lazy" alt="restaurant-details-photo1">
                    </picture>
                    <picture>
                        <source srcset="./images/slider/main-hero-slider/slider2rest.jpg 1x,
                            ./images/slider/main-hero-slider/slider2rest@2x.jpg 2x">
                        <img class="restaurant-imgs" src="./images/slider/main-hero-slider/slider2rest.jpg"
                            loading="lazy" alt="restaurant-details-photo2">
                    </picture>
                    <picture>
                        <source srcset="./images/slider/main-hero-slider/slider3rest.jpg 1x,
                            ./images/slider/main-hero-slider/slider3rest@2x.jpg 2x">
                        <img loading="lazy" class="restaurant-img"
                            src="./images/slider/main-hero-slider/slider3rest.jpg" loading="lazy"
                            alt="restaurant-details-photo3">
                    </picture>
                </li>
                <li class="icon-rest-arrow">
                    <button type="button" class="button-rest">
                        <svg class="every-arrow icon-arrow-left" width="32" height="32">
                            <use href="./images/sprite.svg#icon-arrow-left"></use>
                        </svg>
                    </button>
                    <button type="button" class="button-rest">
                        <svg class="every-arrow icon-arrow-right" width="32" height="32">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
        <div class="btn-restaurant-details">
            <button type="button" class="btn-disabled js-open-modal" data-modal="3">Забронювати столик</button>
            <a class="btn-disabled btn-rest-main" href="./restaurant.html">Переглянути меню</a>
        </div>
    </div>
</section>